.formSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.formBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.formBtn:hover {
  background-color: #0056b3;
}
